<h1 style="text-align:center; font-size:5em; line-height:2em;">̿̿ ̿̿ ̿̿ ̿'̿'\̵͇̿̿\з= ( ▀ ͜͞ʖ▀) =ε/̵͇̿̿/’̿’̿ ̿ ̿̿ ̿̿ ̿̿</h1>
<h2 style="text-align:center; line-height:1em;">
  Ruby on Rails in Docker on AWS by Ansible with Terraform
</h2>
