PORT={{ devops_port }}

DB_HOST={{ devops_db_host }}
DB_NAME={{ devops_db_name }}
DB_USERNAME={{ devops_db_user }}
DB_PASSWORD={{ devops_db_password }}

RAILS_LOG_TO_STDOUT={{ devops_rails_log_to_stdout }}
RAILS_MASTER_KEY={{ devops_rails_master_key }}
RAILS_ENV={{ devops_rails_env }}
